---
import type { CollectionEntry } from 'astro:content';
import Button from '@components/Button.astro';
import ProjectTile from '@components/projects/ProjectTile.astro';
import ProjectsHeader from '@components/projects/ProjectsHeader.astro';
import ProjectBackButton from './ProjectBackButton.astro';

interface Props {
  projects: CollectionEntry<'projects'>[];
  withBackButton?: boolean;
}

const { withBackButton, projects } = Astro.props;
---

<div class="container" id="projects">
  {withBackButton && <ProjectBackButton />}
  <ProjectsHeader />
  <div class="projects" data-projects-content>
    {projects.map(project => <ProjectTile project={project} />)}
  </div>

  <div class="view-more-container">
    <Button color="#000" href="/projects" isDarkColor>View More</Button>
  </div>
</div>

<style>
  .container {
    box-shadow:
      inset 0 1px rgba(255, 255, 255, 0.2),
      0 -1px #000;
    background-image: linear-gradient(#000, transparent);
    background-size: 100% 200px;
    background-repeat: no-repeat;
    background-color: #ff0000(45, 45, 45);
    overflow: hidden;
    position: relative;
    z-index: 1;
    padding: 2rem 0 0;
  }

  .view-more-container {
    text-align: center;
  }

  .projects {
    max-width: var(--max-width);
    margin: 5rem auto 3rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* Barely supported, but it looks nice when it works :D */
    grid-template-rows: masonry;
    gap: 16px;
    @media (--tablet) {
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
    }
    @media (--desktop) {
      grid-template-columns: repeat(3, 1fr);
      gap: 24px;
    }
  }
</style>
