<a class="back" data-project-back-button href="/"><span>&lt;</span>Back</a>

<style>
  .back {
    color: var(--color);
    text-decoration: none;
    display: flex;
    gap: 0.3rem;
    font-size: 1.2rem;
    max-width: var(--max-width);
    margin: 2rem auto 0;
  }
</style>
