---
import type { CollectionEntry } from 'astro:content';
import Button from '@components/Button.astro';
import ProjectTile from '@components/projects/ProjectTile.astro';
import ProjectsHeader from '@components/projects/ProjectsHeader.astro';

interface Props {
  projects: CollectionEntry<'projects'>[];
}

const { projects } = Astro.props;
---

<div class="container" id="projects">
  <ProjectsHeader />
  <div class="projects" data-projects-content>
    {projects.map(project => <ProjectTile project={project} />)}
  </div>

  <div class="view-more-container">
    <Button color="#000" href="/projects/" isDarkColor>View More</Button>
  </div>
</div>

<style>
  .container {
    background-image: linear-gradient(
      color-mix(in srgb, var(--background-color) 80%, #000),
      transparent
    );
    background-size: 100% 200px;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    z-index: 1;
    padding: 2rem 0 0;
  }

  .view-more-container {
    text-align: center;
  }

  .projects {
    max-width: var(--max-width);
    margin: 5rem auto 3rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* Barely supported, but it looks nice when it works :D */
    grid-template-rows: masonry;
    gap: 16px;
    @media (--tablet) {
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
    }
    @media (--desktop) {
      grid-template-columns: repeat(3, 1fr);
      gap: 24px;
    }
  }
</style>
