footer#footer.container
  .content.uglyText
    | Website designed, built, and maintained by Brandon Pereira
    span
  .logo 
    a(href='https://github.com/brandon-pereira', aria-label='GitHub')
      svg
        use(xlink:href='#clon')
