<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Brandon Pereiras Portfolio</title>
    {% include "./includes/head.html" %}
  </head>
  <body>
    <!--[if lt IE 11]> <p class="browsehappy-container"></div><p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p> <![endif]-->
    {% include "./includes/header.html" %}
    <section class="body">
      {% include "./includes/about.html" %} {% include
      "./includes/projects.html" %} {% include "./includes/apps.html" %} {%
      include "./includes/skills.html" %} {% include "./includes/contact.html"
      %}
    </section>
    {% include "./includes/footer.html" %}

    <script type="module" src="../scripts/index.ts" async defer></script>

    <svg class="spritemap" xmlns="http://www.w3.org/2000/svg">
      {% include "../static/icons/caret.svg" %}
      {% include "../static/icons/clon.svg" %}
    </svg>
    <!-- TODO:Google Analytics -->
  </body>
</html>
