doctype html
html(lang='en')
  head
    link(rel='stylesheet', type='text/css', href='../styles/style.scss')
    meta(charset='UTF-8')
    meta(
      name='viewport',
      content='width=device-width, initial-scale=1.0, user-scalable=0'
    )
    include seo
  body
    include header
    include about
    include projects
    include apps
    include skills
    include contact
    include footer
    svg.spritemap(xmlns='http://www.w3.org/2000/svg')
      include ../static/icons/caret.svg
      include ../static/icons/clon.svg

    <!-- TODO:Google Analytics -->

    script(type='module', src='../scripts/index.ts', async, defer)
