<section class="container projects" id="projects">
	<header class="main">
		<h1 data-text="Projects">Projects</h1>
		<h2>A showcase of my<span></span> past, present, and future.</h2>
	</header>
		
	<div class="content">
		<div class="loading">
			<div class="plus-loader">
			  Loading…
			</div>
		</div>
		<div class="init">
			<div class="sort">
				<span class="title">Sort By</span> 
				<select data-bind=" options: statuses,
														optionsText: 'title',
		                        value: $data.class,
													 	optionsCaption: 'Status',
														selectedOptions: selectedStatus"></select>
				<select data-bind=" options: dates,
														optionsText: 'title',
		                        value: $data.val,
													 	optionsCaption: 'Date',
														selectedOptions: selectedDate"></select>
				<select data-bind="options: languages,
											 		 optionsCaption: 'Language',
													 selectedOptions: selectedLanguage"></select>
			</div>
			<div class="projects" data-bind="foreach: projects">
				<div class="project">
					<header>
						<span class="date" data-bind="text: date"></span>
						<span class="type" data-bind="text: status.title, css: status.class"></span>
						<h2 data-bind="visible: link"><a data-bind="text: title, attr: {href: link}" target="_blank"></a></h2>
						<h2 data-bind="visible: !link, text: title"></h2>
					</header>
					<p data-bind="html: description"></p>
					<div class="photos" data-bind="visible: images, foreach: images">
						<img data-bind="attr: {src: src, title: title}">
					</div>
					<div class="languages" data-bind="foreach: languages">
						<span data-bind="text: $data" ng-click="goToLanguage(language)"></span>
					</div>
				</div>
			</div>
			<div class="project loadMore" data-bind="visible: inView <= maxVisible">Load More</div>
			<div class="project noResults" ng-show="!list.length" ng-click="searchProjects({})"><div class="smiley">:(</div><span>No Results.</span><button>Reset Filters</button></div>
			<!-- 
			<div class="lightbox" ng-class="{'visible': modalVisible}" ng-click="modalVisible = false">
				<a class="close-button">&times;</a>
				<div class="modal-content">
					<img src="{{modalImg}}" title="{{modalImgTitle}}" alt="{{modalImgTitle}}" ng-class="modalImgClasses">
					<div class="description">
						{{modalImgTitle}}
					</div>
				</div>
			</div> -->
		</div>
	</div>
</section>