section#projects.container.projects(data-track-section)
  header.main
    h2.maintext(data-text='Projects') Projects
    span.subtext
      | A showcase of my
      span
      | past, present, and future.
  .plus-loader
  .content 
    .filters(data-filters='')
      div
        | You&apos;re viewing projects built using &quot;
        span
        | &quot;.
      button RESET

    .projects.hidden
    .project.snippet.hidden.skeleton(data-project-learn-more)
      .image-container
        img(loading='lazy')
      h3
        span(data-project-title)
      p(data-project-description)
      button.button Learn More
    .project.detailed-view.hidden
      header
        button.button(data-back-button)
          svg
            use(xlink:href='#caret')
          span BACK
        span(data-project-date) Loading...
        span(data-project-status)
      h3
        a(data-project-link='', data-project-title='', target='_')
      div(data-project-description='')
      div(data-project-images='')
      div(data-project-languages='')

    button.project.loadMore.hidden Load More
