div.usb {
	position: absolute;
	top: 50%;
	left: 50%;
	bottom: 10px;
	right: 0;
	width: 150px;
	height: 300px;
	-webkit-transition: all .5s;
	margin-top: -150px;
	margin-left: -150px;
	z-index: 1;
}
.wire:after {
	position: absolute;
	width: 26px;
	background: -webkit-linear-gradient(rgba(255, 255, 255, .001), #fff), transparent;
	bottom: -4px;
	height: 25px;
	left: 50%;
	content: "";
	margin-left: -13px;
	z-index: 5
}
.wire {
	position: absolute;
	left: 50%;
	margin-left: -7.5px;
	bottom: 0;
	content: "";
	height: 100px;
	background: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, .2)), #fafafa;
	width: 15px;
	display: block;
	box-shadow: 2px 1px 2px rgba(0, 0, 0, .2), inset 0 5px 5px -4px rgba(0, 0, 0, .5), inset -1px 0 rgba(255, 255, 255, .5);
	z-index: 2
}
div.usb div.main {
	z-index: 1;
	height: 100px;
	width: 90px;
	background: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, .06)), #f2f2f2;
	position: absolute;
	left: 50%;
	bottom: 100px;
	margin-left: -45px;
	border-radius: 2px 2px 8px 8px;
	border: 1px solid rgba(0, 0, 0, .15);
	box-shadow: inset -1px -1px rgba(255, 255, 255, .5), 1px 1px 2px rgba(0, 0, 0, .3), inset 5px 0 5px rgba(0, 0, 0, .1), inset -5px 0 5px rgba(0, 0, 0, .1);
	;
	z-index: -1;
	box-sizing: border-box;
}
div.usb div.metal {
	border: 1px solid rgba(0, 0, 0, .09);
	box-sizing: border-box;
	border-top: 1px solid rgba(0, 0, 0, .1);
	background: -webkit-linear-gradient(rgba(255, 255, 255, .5), rgba(0, 0, 0, 0)), #D0D0D0;
	height: 70px;
	width: 80px;
	left: 50%;
	position: absolute;
	bottom: 199px;
	margin-left: -40px;
	z-index: 1;
	border-radius: 3px 3px 0 0;
	box-shadow: inset 0 10px 20px -5px rgba(255, 255, 255, .8), 0 1px rgba(0, 0, 0, .08)
}
div.usb div.metal:before, div.usb div.metal:after {
	height: 20px;
	width: 25px;
	content: "";
	position: absolute;
	top: 20px;
	background: rgba(255, 255, 255, .7);
	box-shadow: inset 0 2px 6px rgba(0, 0, 0, .4)
}
div.usb div.metal:after {
	right: 10px;
}
div.usb div.metal:before {
	left: 10px;
}
div.usb div.main div.logo div.a, div.usb div.main div.logo div.b, div.usb div.main div.logo div.c {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
div.usb .logo:after, div.usb .logo:before, div.usb .logo .a:before, div.usb .logo .a:after, div.usb .logo .b:before, div.usb .logo .b:after, div.usb .logo .c:before {
	content: "";
	background: #848484;
	position: absolute;
}
div.usb .logo {
	height: 40px;
	width: 40px;
	margin: 0 auto;
	margin-top: 30px;
	position: relative;
}
div.usb .logo:before {
	height: 8px;
	width: 8px;
	border-radius: 4px;
	bottom: 0;
	left: 50%;
	margin-left: -4px;
}
div.usb .logo:after {
	top: 4px;
	width: 2px;
	left: 50%;
	margin-left: -1px;
	bottom: 5px;
}
div.usb .logo .a:before {
	background: none;
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 4px solid #848484;
	top: 0;
	left: 50%;
	margin-left: -4px;
}
div.usb .logo .a:after {
	height: 17px;
	width: 2px;
	-webkit-transform: rotate(45deg);
	left: 50%;
	bottom: 15px;
	margin-left: 5px;
}
div.usb .logo .b:before {
	height: 5px;
	width: 5px;
	right: 5px;
	top: 6px;
}
div.usb .logo .b:after {
	height: 18px;
	width: 2px;
	-webkit-transform: rotate(-46deg);
	left: 13px;
	bottom: 10px;
}
div.usb .logo .c:before {
	height: 5px;
	width: 5px;
	left: 5px;
	top: 10px;
	border-radius: 5px;
}
.lightning {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 150px;
	width: 300px;
	margin-left: -75px;
}
.lightning .main {
	position: absolute;
	bottom: 100px;
	left: 50%;
	margin-left: -22px;
	height: 60px;
	background: linear-gradient(#f2f2f2, #f4f4f4);
	width: 44px;
	box-shadow: inset -1px -1px rgba(255, 255, 255, .1), 1px 1px 2px rgba(0, 0, 0, .1), inset 5px 0 5px rgba(0, 0, 0, .1), inset -5px 0 5px rgba(0, 0, 0, .1);
}
.lightning .main:before {
	content: "";
	height: 36px;
	width: 38px;
	background: linear-gradient(#f2f2f2, #ddd);
	position: absolute;
	top: -36px;
	left: 3px;
	border-radius: 3px 3px 0 0;
	box-shadow: inset 0 -1px #c4c4c4, inset 0 0 2px 1px rgba(0, 0, 0, .15);
}
.lightning .main .connect {
	content: "";
	height: 14px;
	right: 7px;
	position: absolute;
	top: -32px;
	left: 7px;
	border-radius: 2px;
	background: #f8f8f8
}
.lightning .main .connect .pin {
	margin-left: 3px;
	position: absolute;
	top: 3px;
	bottom: 3px;
	width: 2px;
	border-radius: 2px;
	background: linear-gradient(#ead253, #bfa726);
}
.lightning .main .connect .pin:nth-of-type(2) {
	left: 3px;
}
.lightning .main .connect .pin:nth-of-type(3) {
	left: 6px;
}
.lightning .main .connect .pin:nth-of-type(4) {
	left: 9px;
}
.lightning .main .connect .pin:nth-of-type(5) {
	left: 12px;
}
.lightning .main .connect .pin:nth-of-type(6) {
	left: 15px;
}
.lightning .main .connect .pin:nth-of-type(7) {
	left: 18px;
}
.lightning .main .connect .pin:nth-of-type(8) {
	left: 21px;
}