$config: (
  accent: #1f8ac4,
  header: (
    background: #285872
  ), 
  body:(
    background: #eee
  ),
  skills: (
    background: #06f
  ),
  projects: (
    live: #0094e4,
    comingSoon: #ee7711,
    beta: #ee3838,
    unavailable: #5d5d5d
  )
);