/**
 * Welcome to critical.css.
 *
 * These styles are added directly to the head when the build is run.
 * In that sense, we should KEEP THIS FILE AS SMALL AS POSSIBLE.
 * This is also why I've deliberately made this a CSS file instead of
 * an SCSS file (to avoid nesting).
 */
body {
  font: 16px sans-serif;
  margin: 0;
  overflow-x: hidden;
  background: #fff;
}

svg {
  /* we revert this once main stylesheet loaded */
  display: none;
}

/**
 * Main layout setup. Instantiates the containers and
 * basic typography/links.
 */

.content {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 10px;
}

.content h2 {
  margin-top: 30px;
}

.content h3 {
  font-weight: 100;
  margin: 10px 0;
}

.content a {
  color: #1f3a93;
}

/**
 * Button Styling
 */
.button,
a.button,
button.button {
  background-color: #1f8ac4;
  text-decoration: none;
  outline: none;
  border: none;
  padding: 10px;
  font-size: 16px;
  font-family: inherit;
  color: #fff;
  margin-right: 5px;
}

header.header {
  background: purple;
  text-align: center;
  padding: 5rem 0;
  color: #fff;
  text-transform: uppercase;
}
header.header .name {
  margin: 5px 0 10px;
  font-size: 15vw;
  color: #4087d8;
}
header.header .story-copy {
  font-size: 5vw;
}
header.header .cta {
  margin-top: 5rem;
}
header.header .cta .button {
  background: rgba(255, 255, 255, 0.5);
}
