@import 'mixins';
@import 'config';

html {
  scroll-behavior: smooth;
}
body {
  font: 19px 'Open Sans', sans-serif;
  margin: 0;
  overflow-x: hidden;
}
svg.spritemap {
  display: none;
}

@import 'content';
@import 'header';
@import 'projects';
