@import 'mixins';

$bg: purple;
$gridBg: #4087d8;
$gridBg1: rgba(0, 0, 0, 0.2);
$gridBg2: rgba(0, 0, 0, 0.1);
header.header {
  text-align: center;
  position: relative;
  padding: 5rem 0;
  box-shadow: inset 0 -1px rgba(255, 255, 255, 0.2), 0 3px #000;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: url('/backgrounds/diamond.png'),
      linear-gradient(lighten($bg, 10%), $bg);
    background-blend-mode: multiply;
    animation: hue 10s infinite;
    z-index: -1;
  }
  .copy {
    .story-copy {
      font-weight: 200;
      margin: 0;
      color: #eee;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.8);
      font-size: 4vw;
    }
    .name {
      z-index: 1;
      margin: 5px 0 10px;
      font-size: 15vw;
      font-weight: 900;
      span {
        position: relative;
        display: inline-block;
        transform: skewY(20deg);
        text-shadow: 4px 4px #000;
        color: $gridBg;
        @include medium() {
          &:before {
            content: attr(data-title);
            position: absolute;
            top: 0;
            text-shadow: none;
            background-image: linear-gradient($gridBg1 2px, transparent 2px),
              linear-gradient(90deg, $gridBg1 2px, transparent 2px),
              linear-gradient($gridBg2 1px, transparent 1px),
              linear-gradient(90deg, $gridBg2 1px, transparent 1px);
            background-color: $gridBg;
            background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
            animation: 2s bgScroll infinite linear;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
        &:nth-of-type(even) {
          transform: skewY(-20deg);
        }
      }
    }
  }
  .cta {
    position: relative;
    z-index: 1;
    margin-top: 3rem;
    button,
    .button {
      padding: 8px 20px;
      border-radius: 20px;
      background: rgba(255, 255, 255, 0.3);
      border: 1px solid #000;
    }
  }
}

@keyframes bgScroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 50px 50px;
  }
}
