header.header {
	$bg: purple;
	$gridBg: #4087d8;
	$gridBg1: rgba(0,0,0,.2);
	$gridBg2: rgba(0,0,0,.1);
	text-transform: uppercase;
	display: flex;
	text-align: center;
	position: relative;
	justify-content: center;
	flex-direction: column;
	padding: 5rem 0;
	&:before, &:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
	}
	&:before {
		background: lighten($bg, 10%);
		animation: hue 10s infinite;
		z-index: -1;
	}
	&:after {
		background-image: linear-gradient(transparent, rgba(0,0,0,.8));
		z-index: 0;
	}
	svg {
		visibility: hidden;
		position: absolute;
		display: block;
	}
	h2 {
		position: relative;
		z-index: 1;
		font-weight: 200;
		margin: 0;
		color: #eee;
		font-size: 4vw;
	}
	h1 {
		position: relative;
		z-index: 1;
		text-align: center;
		position: relative;
		margin: -10px 0;
		font-size: 15vw;
		font-weight: 900;
		span {
			position: relative;
			display: inline-block;
			transform: skewY(20deg);
			text-shadow: 4px 4px #000;
			color: #005ac0;
			&:before {
				content: attr(data-title);
				position: absolute;
				top: 0;
				text-shadow: none;
				background-image: linear-gradient($gridBg1 2px, transparent 2px), 
								  linear-gradient(90deg, $gridBg1 2px, transparent 2px), 
								  linear-gradient($gridBg2 1px, transparent 1px), 
								  linear-gradient(90deg, $gridBg2 1px, transparent 1px);
				background-color: $gridBg;
				background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
				animation: 2s bgScroll infinite linear;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
			&:nth-of-type(even) {
				transform: skewY(-20deg);
			}
		}
	}
	.cta {
		position: relative;
		z-index: 1;
		margin-top: 3rem;
		button, .button {
			// background-color: #000;
			padding: 1rem;
			border-radius: 16px;
			// border-radius: 0px;
			background-image: linear-gradient($gridBg1 2px, transparent 2px), 
							linear-gradient(90deg, $gridBg1 2px, transparent 2px), 
							linear-gradient($gridBg2 1px, transparent 1px), 
							linear-gradient(90deg, $gridBg2 1px, transparent 1px);
			background-color: $gridBg;
			background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
			animation: 2s bgScroll infinite linear;
		}
	}
	.background {
		position: absolute;
		top: 0;
		left:0;
		right: 0;
		bottom: 3px;
		overflow: hidden;
		filter:url('#goo');
		z-index: 0;
		// background: $bg;
		// animation: hue 10s infinite;
		.blob {
			animation: hue 10s infinite;
			height: 14vh;
			width: 14vh;
			margin-left: -7vh;
			margin-top:-7vh;
			border-radius: 50%;
			z-index: 2;
			position: absolute;
			background: purple;
			transition: transform 5s linear;
			// &:nth-child(4n+1) {
			// 	transition: transform 5s linear;
			// }
			// &:nth-child(3n+1) {
			// 	background: darken($bg, 4%);
			// 	transition: transform 5s linear;
			// }
		}
	}
}

@keyframes bgScroll {
	from {
		background-position: 0 0;
	} 
	to {
		background-position: 50px 50px;
	}
}