.lightbox {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.9));
  display: none;
  z-index: 10;
  padding-top:3rem; // add margin for x button
  &.visible {
    display: block;
  }

  .close-button {
    position:absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    color:#fff;
    font-size:3rem;
    line-height:2rem;
  }

  img {
    width: 80%;
    max-width:800px;
    height:auto;
    margin:0 auto;
    display: block;
    &.shadow {
      box-shadow:0 5px 10px #000;
      margin: 1rem auto;
    }
  }

  .description {
    color: #fff;
    text-align: center;
    max-width:80%;
    text-shadow: 0 1px 2px #000;
    margin: 0 auto;
    font-size:1rem;
    user-select: all;
    //padding:1rem;
    //line-height:1rem;
    //background: red;
  }
}