.container.projects{
	background:#eee;
	overflow:hidden;
	box-shadow:0 -1px darken(#eee, 10%);
	header.main{
		text-align:center;
		margin:50px auto 20px auto;
		width:260px;
		position:relative;
		height:110px;
		transition: all .5s;
		user-select: none;
		.maintext {
			font:70px cursive;
			color: map-get($config, accent);
			text-shadow:2px 5px #000;
			position:absolute;
			top:0;
			left: 0;
			transition:font-size .5s;
			margin:0;
		}
		.subtext{
			font-size:14px;
			position:absolute;
			bottom: 10px;
			left:-15px;
			white-space: nowrap;
			transition:all .5s;
			font-weight: 100;
			
			span{
				margin:0 15px;
				transition:all .5s;
			}
		}
		@include medium() {
			width: 500px;
			height:195px;
			left:0;
			.maintext {
				font-size: 135px;
			}
			.subtext {
				font-size: 20px;
				left:35px;
				bottom:15px;
				span {
					margin: 0 24px;
				}
			}
		}
	}

	.projects {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 2rem;
		
	}
	.project {
		width: calc(33.3% - 1rem);
		color: #000;
		margin: 0 0 1.5rem;
		text-align: center;
		background: #fff;
		border-radius: 0.5rem;
		overflow: hidden;
		box-shadow: 0 12px 10px rgba(0,0,0,.1);
		.image-container {
			position: relative;
			img {
				max-height: 300px;
				width: 100%;
				clip-path: polygon(0 0, 100% 0, 100% calc(100% - 30px), 0 100%);
				margin-bottom: -40px;
				position: relative;
				z-index: 0;
			}

			h3 {
				margin: 0 2rem;
				position: relative;
				z-index: 1;
				display: inline;
				background: #292929;
				color: #fff;
				padding: 3px;
			}
		}
		p {
			margin: 1rem 1rem;
			font-size: 14px;
		}
		button {
			margin-bottom: 1rem;
		}
	}
	.project:nth-of-type(even) .image-container img {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 30px));
	}

	.noResults {
		background: transparent;
		box-shadow: none;
		text-align: center;
		cursor: pointer;
		padding-top: 20px;
		font-size: 30px;
		color: #5c5c5c;
		margin: 0 auto;
		display: none;
		&.visible {
			display: block;
		}
		.smiley {
			transform: rotate(60deg);
			letter-spacing: 10px;
			font-size: 70px;
		}
		span {
			display: block;
			margin-bottom: 20px;
		}
	}

	.loadMore {
		padding: 20px;
		text-align: center;
		text-transform: uppercase;
		color: #9d9d9d;
		font-weight: 800;
		background: #f6f6f6;
		margin: 3rem auto;
		cursor: pointer;
		&.hidden {
			display: none;
		}
	}

}