.container.projects{
	background:#eee;
	overflow:hidden;
	box-shadow:0 -1px darken(#eee, 10%);
	text-align: center;
	header.main{
		text-align:center;
		margin:50px auto 20px auto;
		width:260px;
		position:relative;
		height:110px;
		transition: all .5s;
		user-select: none;
		.maintext {
			font:70px cursive;
			color: map-get($config, accent);
			text-shadow:2px 5px #000;
			position:absolute;
			top:0;
			left: 0;
			transition:font-size .5s;
			margin:0;
		}
		.subtext{
			font-size:14px;
			position:absolute;
			bottom: 10px;
			left:-15px;
			white-space: nowrap;
			transition:all .5s;
			font-weight: 100;
			
			span{
				margin:0 15px;
				transition:all .5s;
			}
		}
		@include medium() {
			width: 500px;
			height:195px;
			left:0;
			.maintext {
				font-size: 135px;
			}
			.subtext {
				font-size: 20px;
				left:35px;
				bottom:15px;
				span {
					margin: 0 24px;
				}
			}
		}
	}

	.projects {
		display: flex;
		margin-top: 2rem;
		&[data-columns]::before {
			content: '1 .column.size1of1';
		}
		@include medium() {
			&[data-columns]::before {
				content: '2 .column.size1of2';
			}
		}
		@include large() {
			&[data-columns]::before {
				content: '3 .column.size1of3';
			}
		}
	}
	.column {
		flex: 1;
		margin: 0 1rem;
	}
	.project {
		margin: 0 0 2rem;
		background: #fff;
		border-radius: 0.5rem;
		box-shadow: 0 12px 10px rgba(0,0,0,.1);
		overflow: hidden;
		&.hidden {
			display: none;
		}
		.image-container {
			max-height: 200px;
			min-height: 60px;
			overflow: hidden;
			margin-bottom: -40px;
			clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50px), 0 100%);
			img {
				position: relative;
				top: -30px;
				width: 100%;
				&.shadow {
					width: 140%;
					left: -20%;
				}
			}
		}
		// https://css-tricks.com/multi-line-padded-text/
		h3 {
			position: relative;
			z-index: 1;
			display: inline;
			span {
				background: #292929;
				color: #fff;
				padding: 3px;
				border-radius: 3px;
				box-decoration-break: clone;
				-webkit-box-decoration-break: clone;
			}
		}
		p {
			margin: 1rem 1rem;
			font-size: 14px;
		}
		button {
			margin-bottom: 1rem;
		}
	}
	.projects .column:nth-of-type(even) .project .image-container {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 50px));
	}

	.noResults {
		background: transparent;
		box-shadow: none;
		text-align: center;
		cursor: pointer;
		padding-top: 20px;
		font-size: 30px;
		color: #5c5c5c;
		margin: 0 auto;
		display: none;
		&.visible {
			display: block;
		}
		.smiley {
			transform: rotate(60deg);
			letter-spacing: 10px;
			font-size: 70px;
		}
		span {
			display: block;
			margin-bottom: 20px;
		}
	}

	.loadMore {
		padding: 20px;
		text-align: center;
		text-transform: uppercase;
		color: #9d9d9d;
		font-weight: 800;
		background: #f6f6f6;
		margin: 1rem auto; 
		width: 50%;
		cursor: pointer;
		&.hidden {
			display: none;
		}
		&.loading {
			transition: all .2s;
			border-radius: 50% !important;
			margin: 0 auto;
			box-shadow: none;

			@extend .plus-loader;
		}
	}

}