.container.skills{
	$background: map-deep-get($config, skills, background);
	background: $background;
	background: linear-gradient($background, darken($background, 10%)), url('/backgrounds/diamond.png');
	background-blend-mode: multiply;
	header.main{
		color:#fff;
		text-align:center;
		padding: 50px 0;
		h2{
			margin-bottom:20px;
			font: 20px monospace;
			text-shadow:2px 2px darken($background, 40%);
			@include medium() {
				font-size: 38px;
			}
			span{
				display:block;
			}
			&:before {
				content: "<";
			}
			&:after {
				content: "/>";
			}
		}
		p{
			font-size:16px;
			width:80%;
			margin:0 auto;
			max-width:400px;
		}
	}
	
	.content{
		padding-bottom:50px;
		
		.accordion{
			// GENERIC STYLES FOR ALL ACCORDIANS
			 header{
				font-weight:700;
				cursor:pointer;
				border-bottom:3px solid #fff;
				display: flex;
				user-select: none;
				.caret{
					display: flex;
					align-items: center;
					svg{
						margin:0 10px;
						height:14px;
						width:14px;
						fill: #fff;
						transition:transform .2s;
					}
				}	
				.title{
					flex: 1;
					text-overflow:ellipsis;
					white-space:nowrap;
					overflow:hidden;
					text-transform:uppercase;
				}
			}
			article{
				transition: opacity 0s;
				opacity:0;
				pointer-events: none;
			}
			// GENERIC OPEN STYLES FOR ALL ACCORDIANS
			&.open{
				height: auto !important;
				> article{
					transition: opacity .2s;
					opacity:1;
					pointer-events: all;
				}
				> header{
					.caret svg{
						transform: rotate(180deg);
					}
				}
			}
			// CATEGORY SPECIFIC STYLES
			&.category{
				margin-bottom:10px;
				height:50px;
				overflow:hidden;
				> article{
					padding:10px 5px;
					margin:0;
					overflow:hidden;
					background:rgba(255,255,255,.3);
					box-shadow:0 1px 2px rgba(0,0,0,.8);
					border-radius: 0 0 3px 3px;
				}
				> header{
					.title{
						color:#fff;
						padding:10px;	
					}
				}
			}
			// SKILL SPECIFIC STYLES
			&.skill{
				height:48px;
				background:#fff;
				margin:5px;
				border-radius:3px;
				overflow:hidden;
				box-shadow:0 1px 2px rgba(0,0,0,.7);
				header{
					font-weight:700;
					.title{
						padding:10px;
					}
					.caret svg{ 
						fill: #b0b0b0;
					}
					.skillLevel{
						font-weight:400;
						align-self: center;
						&.pro{
							color:#005522;
						}
						&.intermediate{
							color:#e28000;
						}
						&.novice{
							color:#f00;
						}
					}
				}
				> article{
					padding:0 10px 0px 10px;	
					.button{
						margin:10px 0;
					}
				}
			}
		}
	}
}