@import 'mixins';
@import 'config';

body {
  background: #fff
}

// Fonts
@import url('https://fonts.googleapis.com/css?family=Lily+Script+One&text=Projects');
@import 'g-loader.css';


body{
	font:16px sans-serif;
  margin: 0;
}

/**
 * Internet Exploder Failsafe 
 */
.browsehappy-container{
		height:50px;
}
.browsehappy{
	text-align:center;
	position:fixed;
	z-index:3;
	top:0;
	left:0;
	right:0;
	background:#c90000;
	border-bottom:1px solid darken(#c90000, 10%);
	color:#fff;
	margin:0;
	line-height:100px;
	a{
		color:#fff;
	}
}

/**
 * Main content containers
 */
.content{
	margin:0 auto;
	max-width:1000px;
	padding:0 10px;
	h2{
		margin-top:30px;
	}
	h3{
		font-weight:100;
		margin:10px 0;
	}
	a{
		color: map-get($config, accent)
	}
}

/**
 * Buttons
 */
button, a.button {
 background-color: map-get($config, accent);
 text-decoration: none;
 appearance: none;
 outline: none;
 cursor: pointer;
 border-radius: 3px;
 border: none;
 padding:10px;
 font-size:16px;
 font-family:inherit;
 color: #fff;
 margin-right: 5px;
 box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2), inset 0 2px rgba(255, 255, 255, .2), inset 0 -3px rgba(0, 0, 0, .1);
 text-shadow: 1px 1px rgba(0, 0, 0, .3);
 background-image: linear-gradient(transparent, rgba(0, 0, 0, .2));
 &:hover{
   background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .3))
 }
 &:active{
   background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .4));
 }
}

/**
 * Loading classes
 */
.loading{
	text-align:center;
	padding: 50px 0;
  &.loaded {
    display: none;
  }
}
.init{
	display:none;
	&.true{
		display:block;
	}
}

/**
 * Webfonts initialzed
 */
html{
	&.wf-active{
		body{
			font:1.2em "Open Sans", sans-serif;
		}
	}
}

/**
 * Font Smoothing 
 */
.smoothText {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.uglyText {
  -webkit-font-smoothing:none;
  -moz-osx-font-smoothing:auto;
}

@import 'header';
@import 'skills';
@import 'projects';
@import 'contact';
@import 'footer';

// TODO: Media Queries
// // TODO: 
// @media(min-width: 600px) {
// 	.tablet;
// 	@media(min-width: 1000px) {
// 		.desktop;
// 	}
// }