---
import Layout from "../layouts/Layout.astro";
import Projects from "./projects/ProjectsList.astro";
import Header from "../sections/Header.astro";
import AboutMe from "src/sections/AboutMe.astro";
import Apps from "src/sections/Apps.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Header />
    <AboutMe />
    <Projects />
    <Apps />
    Hello World
  </main>
</Layout>

<style></style>
