---
import Layout from '../layouts/Layout.astro';
import Header from '../sections/Header.astro';
import AboutMe from 'src/sections/AboutMe.astro';
import Apps from 'src/sections/Apps.astro';
import FeaturedProjects from '@components/projects/FeaturedProjects.astro';
import Contact from 'src/sections/Contact.astro';
import Footer from 'src/sections/Footer.astro';
---

<Layout title="Homepage">
  <main>
    <Header />
    <AboutMe />
    <FeaturedProjects />
    <Apps />
    <Contact />
    <Footer />
  </main>
</Layout>
