<section class="container apps {{apps.applications[0].theme}}" id="apps" data-track-section>
	<header class="main">
		<span class="maintext">Apps</span>
		<spna class="subtext">I've got<span></span>for that.</span>
	</header>
		
	<div class="content">
		<div class="init true">
			<div class="carousel-slides">
				 {% for app in apps.applications %}
					<div class="carousel-slide {{ "currentSlide" if loop.index === 1 }}">
						<div class="row">
							<div class="column-icon">
								<a target="_" data-bind="attr: {href: link}"><img class="app-icon" src="{{app.icon}}"></a>
								<a class="cta" target="_" data-bind="attr: {href: link}, css: {'unavailable': !link}"></a>
							</div>
							<div class="column-info">	
								<a data-bind="attr: {href: link}" target="_"><h2>{{app.title}}</h2></a>
								<p>{{app.description | safe}}</p>
							</div>
						</div>
						<div class="row photos">
							{% for app in app.images %}
								<img src="{{app.preview if app.preview else app.src}}" title="{{app.title}}" class="{{app.styling}}">
							{% endfor %}
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="carousel-dots">
				{% for app in apps.applications %}
					<div class="dot {{ "active" if loop.index === 1 }}"></div>
				{% endfor %}
			</div>
			<div class="next carousel-arrow" data-bind="click: goToNextSlide">
				<!-- @@include ../static/icons/caret.svg -->
			</div>
			<div class="prev carousel-arrow" data-bind="click: goToPrevSlide">
				<!-- @@include ../static/icons/caret.svg -->
			</div>
		</div>
	</div>
</section>