<section class="container projects" id="projects" data-track-section>
	<header class="main">
		<h2 class="maintext" data-text="Projects">Projects</h2>
		<span class="subtext">A showcase of my<span></span> past, present, and future.</span>
	</header>
		
	<div class="content">
		<div class="projects" data-columns>
			{#
			{% set arrays = [[], [], []] %}
			{% for project in projects.projects.slice(0,6) %}
				{% set arrays = (arrays[(loop.index - 1) % 3].push(project), arrays) %}
			{%endfor%}

			{% for array in arrays %}
				<div class="column">
					 {% for project in array %}
						<div class="project">
							<div class="image-container">
								<img src="{{project.images[0].src}}">
							</div>
							<h3><span>{{project.title}}</span></h3>
							<p>{{project.shortDescription}}</p>
							<button>Learn More</button>
						</div>
					{% endfor %}
				</div>
			{% endfor %}
			#}

			 {% for project in projects.projects.slice(0,6) %}
				<div class="project">
					<div class="image-container">
						<img src="{{project.images[0].src}}">
					</div>
					<h3>
						<span>{{project.title}}</span>
					</h3>
					<p>{{project.shortDescription}}</p>
					<button>Learn More</button>
				</div>
			 {% endfor %}
		</div>
			<div class="project loadMore">Load More</div>
			<div class="project noResults">
				<div class="smiley">:(</div>
				<span>No Results.</span>
				<button data-bind="click: resetFilters">Reset Filters</button>
			</div>
	</div>
</section>