<section class="container projects" id="projects" data-track-section>
	<header class="main">
		<h2 class="maintext" data-text="Projects">Projects</h2>
		<span class="subtext">A showcase of my<span></span> past, present, and future.</span>
	</header>

	<div class="content">
		<div class="filters" data-filters>
			<div>You're viewing projects built using "<span></span>".</div>
			<button>RESET</button>
		</div>
		<div class="projects" data-columns>
			{% for project in projects.slice(0,4) %}
			<div class="project snippet" data-project-learn-more="{{loop.index - 1}}">
				<div class="image-container">
					{% if project.images[0] %}
						<img alt="{{project.images[0].title}}" data-src="{{project.images[0].url}}">
					{% endif %}
				</div>
				<h3>
					<span data-project-title>{{project.title}}</span>
				</h3>
				<p data-project-description>{{project.shortDescription if project.shortDescription else project.description | safe}}</p>
				<button class="button">Learn More</button>
			</div>
			{% endfor %}
		</div>
		<div class="project snippet hidden skeleton" data-project-learn-more>
			<div class="image-container">
				<img />
			</div>
			<h3>
				<span data-project-title></span>
			</h3>
			<p data-project-description></p>
			<button class="button">Learn More</button>
		</div>
		<div class="project detailed-view hidden">
			<header>
				<button data-back-button>
					<svg>
						<use xlink:href="#caret"></use>
					</svg>
					<span>BACK</span>
				</button>
				<span data-project-date>Loading...</span>
				<span data-project-status></span>
			</header>
			<h3><a data-project-link data-project-title target="_"></a></h3>
			<div data-project-description></div>
			<div data-project-images></div>
			<div data-project-languages></div>
		</div>
		<button class="project loadMore {{ " hidden " if projects.length <= 4 }}">Load More</button>
	</div>
</section>