<section class="container skills" id="skills" data-track-section>
	<header class="main">
		<h2 class="uglyText">Technical<span></span>Skills</h2>
		<p>A list of skills I've acumulated over the years, click a category to see skills and click a skill to see a little description about my experience.</p>
	</header>
	<div class="content">
		<div class="init true" data-bind="foreach: categories">
			{% for category in skills.categories %}
				<section class="accordion category {% if category.isOpen %}open{% endif %}">
					<header data-accordion-handler>
						<div class="title">{{category.name}}</div>
						<div class="caret">
							 {% include "../../static/icons/caret.svg" %}
						</div>
					</header>
					<article>
						{% for skill in category.skills %}
							<section class="accordion skill" data-id="{{skill.id}}">
								<header data-accordion-handler>
									<div class="title">{{skill.name}}</div>
									<div class="skillLevel {{skills.skillLevels[skill.skillLevel]}}">{{skills.skillLevels[skill.skillLevel]}}</div>
									<div class="caret">
										{% include "../../static/icons/caret.svg" %}
									</div>
								</header>
								<article>
									<span class="description">{{skill.description}}</span><br />
									<button class="button" data-go-to-project="{{skill.id}}">Projects</button>
									<a href="#contact" class="button smoothScroll" target="_self">Contact Me</a>
								</article>
							</section>
						{% endfor %}
					</article>
				</section>
 			{% endfor %}
		</div>
</section>
