<section class="container skills" id="skills" data-track-section>
	<header class="main">
		<h2 class="uglyText">Technical<span></span>Skills</h2>
		<p>A list of skills I've accumulated over the years, click a category to see skills and click a skill to see a little description about my experience.</p>
	</header>
	<div class="content">
		{% for category in skills %}
			<section class="accordion category {% if category.isOpen %}open{% endif %}">
				<button data-accordion-handler>
					<div class="title">{{category.name}}</div>
					<div class="caret">
						<svg><use xlink:href="#caret"></use></svg>
					</div>
				</button>
				<article>
					{% for skill in category.skills %}
						<section class="accordion skill" data-id="{{skill._id}}">
							<button tabindex="{{ "0" if category.isOpen else "-1" }}" data-closable data-accordion-handler>
								<div class="title">{{skill.name}}</div>
								<div class="skillLevel {{skills.skillLevels[skill.skillLevel]}}">{{skills.skillLevels[skill.skillLevel]}}</div>
								<div class="caret">
									<svg><use xlink:href="#caret"></use></svg>
								</div>
							</button>
							<article>
								<span class="description">{{skill.description}}</span><br />
								<button class="button" data-closable tabindex="-1" data-go-to-project="{{skill._id}}">Projects</button>
								<a href="#contact" data-closable tabindex="-1" class="button">Contact Me</a>
							</article>
						</section>
					{% endfor %}
				</article>
			</section>
		{% endfor %}
</section>
