---
import type { HTMLAttributes } from 'astro/types';
// Inspired by https://uiverse.io/namecho/slippery-moth-23

interface AdditionalProps {
  isDarkColor?: boolean;
  color?: string | undefined;
}
type Props =
  | (AdditionalProps & { href: string } & HTMLAttributes<'a'>)
  | (AdditionalProps & HTMLAttributes<'button'>);

const { color, style, isDarkColor, class: className, ...rest } = Astro.props;
---

{
  'href' in rest ? (
    <a class:list={['button--container', className]} style={style} {...rest}>
      <slot />
    </a>
  ) : (
    <button
      class:list={['button--container', className]}
      style={style}
      {...rest}
    >
      <slot />
    </button>
  )
}

<style
  define:vars={{
    color: color || '#0f0',
    secondaryColor: isDarkColor ? '#eee' : '#111'
  }}
>
  .button--container {
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem 1.5rem;
    border: 3px solid var(--color);
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s;
    z-index: 1;
    font-family: inherit;
    color: var(--color);
    box-sizing: border-box;
  }

  .button--container:focus {
    outline: none;
  }

  .button--container::before {
    content: '';
    width: 0;
    height: 100vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: var(--color);
    transition: 0.3s ease-in;
    display: block;
    z-index: -1;
  }

  .button--container:focus-visible::before,
  .button--container:hover::before {
    width: 105%;
  }

  .button--container:focus-visible,
  .button--container:hover {
    color: var(--secondaryColor);
  }
</style>
