---
import Logo from './Logo.astro';
---

<header data-sticky-header>
  <a class="back" href="/"><span>&lt;</span>Back</a>

  <a href="/" class="logo">
    <Logo
      aria-label="GitHub"
      size={50}
      styles={{
        strokeColor: '#fff',
        strokeWidth: '20px',
        outerFront: 'transparent',
        outerRight: 'transparent',
        innerBack: 'transparent',
        innerLeft: 'transparent',
        innerBottom: 'transparent'
      }}
    />
  </a>
  <div></div>
</header>

<style>
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background: #288fd9;
    transition: background 0.4s;
    backdrop-filter: blur(10px);
    color: #fff;
    padding: 0 1rem;
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    &:global(.sticky) {
      background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
    }
  }

  .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .back {
    color: inherit;
    text-decoration: none;
    display: flex;
    gap: 0.3rem;
    font-size: 1.2rem;
  }
</style>

<script>
  const el = document.querySelector('header[data-sticky-header]');
  if (!el) return;
  window.addEventListener('scroll', () => {
    if (window.scrollY > 0) {
      el.classList.add('sticky');
    } else {
      el.classList.remove('sticky');
    }
  });
</script>
