<span class="typewriter">_</span>

<style>
  .typewriter {
    animation: blink 0.7s infinite steps(1);
    font-size: 20px;
    position: absolute;
  }

  @keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
</style>
