---
import Button from '@components/Button.astro';
import ProjectDetails from '@components/projects/ProjectDetails.astro';
import ProjectsHeader from '@components/projects/ProjectsHeader.astro';
import Layout from '@layouts/Layout.astro';
import { getEntry, getCollection } from 'astro:content';
const { id } = Astro.params;
const entry = await getEntry('projects', id as any);
const { Content } = await entry!.render();

export async function getStaticPaths() {
  const entries = await getCollection('projects');
  return entries.map(entry => ({
    params: { id: entry.slug }
  }));
}
---

<Layout title="Project Details">
  <Button data-project-back-button href="/">Back</Button>
  <ProjectsHeader />
  <ProjectDetails project={entry!} content={Content} />
</Layout>
