---
import Button from "@components/Button.astro";
import ProjectTile from "@components/projects/ProjectTile.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("projects"))
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0, 6);
---

<div class="container">
  Projects

  <div class="projects" data-projects-content>
    {posts.map((post) => <ProjectTile project={post} />)}
  </div>

  <Button>Load More</Button>
</div>

<style>
  .container {
  }
  .projects {
    max-width: var(--max-width);
    margin: 5rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Barely supported, but it looks nice when it works :D */
    grid-template-rows: masonry;
    gap: 50px;
  }
</style>
