---
import Button from "@components/Button.astro";
import ProjectTile from "@components/projects/ProjectTile.astro";
import ProjectsHeader from "@components/projects/ProjectsHeader.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("projects"))
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0, 6);
---

<div class="container" id="projects">
  <ProjectsHeader />
  <div class="projects" data-projects-content>
    {posts.map((post) => <ProjectTile project={post} />)}
  </div>

  <Button href="#">Load More</Button>
</div>

<style>
  .container {
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 -1px #000;
    background-image: linear-gradient(#000, transparent);
    background-size: 100% 200px;
    background-repeat: no-repeat;
    background-color: #ff0000(45, 45, 45);
    overflow: hidden;
    position: relative;
    z-index: 1;
  }

  .projects {
    max-width: var(--max-width);
    margin: 5rem auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* Barely supported, but it looks nice when it works :D */
    grid-template-rows: masonry;
    gap: 16px;
    @media (--tablet) {
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
    }
    @media (--desktop) {
      grid-template-columns: repeat(3, 1fr);
      gap: 24px;
    }
  }
</style>
