---
import { Image } from 'astro:assets';
import * as AboutMeMd from '../content/about/about-me.md';
import ProfilePicture from 'src/assets/pp.jpg';
---

<section>
  <div>
    <AboutMeMd.Content />
  </div>
  <Image
    src={ProfilePicture}
    loading="eager"
    quality={100}
    class="profile-picture"
    height={800}
    alt="Profile Picture for Brandon Pereira"
  />
</section>

<style>
  section {
    display: flex;
    max-width: var(--max-width);
    color: var(--color);
    align-items: center;
    grid-gap: 3rem;
    margin: 3rem auto;
    flex-direction: column;
  }

  .profile-picture {
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: auto;
  }

  @media (--tablet) {
    section {
      flex-direction: row;
    }
    .profile-picture {
      width: auto;
      height: 400px;
    }
  }
</style>
