---
import Button from "@components/Button.astro";

---

<div class="container">
  <div class="content">
    <h1>
      <pre aria-label="@ me" contenteditable="">
    _______                                   
   /       \_                                 
  /   $$$$$$ \         ______ ____    ______  
 /  $$$____$$$\       |      \    \  /      \ 
|  $$/     \ $$\      | $$$$$$\$$$$\|  $$$$$$\
| $$|  $$$$$| $$      | $$ | $$ | $$| $$    $$
| $$| $$| $$| $$      | $$ | $$ | $$| $$$$$$$$
| $$ \$$  $$| $$      | $$ | $$ | $$ \$$     \
 \$$\ \$$$$$$$$        \$$  \$$  \$$  \$$$$$$$<span class="typewriter">_</span>
  \$$\ __/    /                                
   \$$$    $$$        // CONTACT ME                        
    \$$$$$$ 
      </pre>
    </h1>
    <div class="buttons">
    <Button color="#0f0" class="button" target="_" href="mailto:brandonpereiras@gmail.com">email</Button>
    <Button color="#0f0" class="button" target="_" href="https://github.com/brandon-pereira">github</Button>
    <Button color="#0f0" class="button" target="_" href="https://instagram.com/brandonpereira_">instagram</Button>
    <Button color="#0f0" class="button" target="_" href="https://ca.linkedin.com/in/brandonpereira">linkedin</Button>
    </div>
  </div>
</div>

<style>
  .buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .button {
    width: 100%;
    padding: 1rem  0;
    font-family: var(--font-monospace);
    text-decoration: none;
  }
  .container {

  }

  .content {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 3rem;
  }

  pre {
    width: 810px;
    margin: 0 auto;
    font-family: var(--font-monospace);
    color: #0f0;
    font-size: 1.1rem;
    outline: none;
  }

  .typewriter {
    animation: blink 0.7s infinite steps(1);
    font-size: 20px;
    position: absolute;
  }

  @keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
</style>