<div class="container">
  <div class="content">
    <h1>
      <pre>
    ______                                   
  _/      \_                                 
  /   $$$$$$ \         ______ ____    ______  
/  $$$____$$$\       |      \    \  /      \ 
|  $$/     \ $$\      | $$$$$$\$$$$\|  $$$$$$\
| $$|  $$$$$| $$      | $$ | $$ | $$| $$    $$
| $$| $$| $$| $$      | $$ | $$ | $$| $$$$$$$$
| $$ \$$  $$| $$      | $$ | $$ | $$ \$$     \
\$$\ \$$$$$$$$        \$$  \$$  \$$  \$$$$$$$
  \$$\ __/   \                                
  \$$$    $$$                                
    \$$$$$$ 
    </pre>
      <span>@</span> me
    </h1>

    Brandon pereira
    <a href="mailto:brandonpereiras@gmail.com">email</a>
    <a href="https://github.com/brandon-pereira" target="_blank">github</a>
    <a href="https://instagram.com/brandonpereira_" target="_blank">instagram</a
    >
    <a href="https://ca.linkedin.com/in/brandonpereira" target="_blank"
      >linkedin</a
    >

    <style>
      .container {
        position: relative;
        z-index: 1;
      }

      .content {
        max-width: var(--max-width);
        margin: 0 auto;
      }

      pre {
        font-family: var(--font-monospace);
        color: #0f0;
        font-size: 1.1rem;
      }
    </style>
  </div>
</div>
