<footer>
  <div class="content">
    Website designed, built, and maintained by Brandon Pereira
  </div>
</footer>

<style>
  footer {
    background: #000;
  }
  .content {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 3rem 1rem;
    font-family: var(--font-monospace);
    color: #0f0;
    text-align: center;
  }
</style>
