---
import Button from "../components/atoms/Button.astro";
import ProjectTile from "../components/projects/ProjectTile.astro";
import { getCollection } from "astro:content";
// const posts = await Astro.glob("../content/projects/*.md");
const posts = (await getCollection("projects"))
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0, 6);
---

<div class="container">
  Projects

  <div class="projects">
    {posts.map((post) => <ProjectTile {...post.data} />)}
  </div>

  <Button>Load More</Button>

  <style>
    .container {
      background-color: #212121;
    }
    .projects {
      max-width: 1200px;
      margin: 5rem auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 50px;
    }
  </style>
</div>
