<div class="content">
  <slot />
</div>

<style>
  .content {
    max-width: 800px;
    margin: 0 auto;
  }
  .content :global(.astro-code) {
    font-size: 1rem;
    padding: 2rem;
    border-radius: 0.5rem;
  }
  .content :global(h1, h2, h3, h4, h5, h6) {
    scroll-margin-top: 100px;
    font-family: var(--font-monospace);
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: auto;
  }
  .content :global(table) {
    border-collapse: collapse;
    width: 100%;
    margin: 0 0 4rem;
    :global(th, td) {
      text-align: left;
      padding: 0.2rem;
    }
  }
</style>
