---
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<h2 class="title">
  {
    title
      .split('')
      .map((letter, i) => <span style={{ '--i': i }}>{letter}</span>)
  }
</h2>

<style>
  @font-palette-values --a {
    font-family: 'Nabla';
    base-palette: 2;
    override-colors:
      7 #2ea3ff,
      6 #1e7abc;
  }
  @font-palette-values --b {
    font-family: 'Nabla';
    base-palette: 1;
    /* override-colors:
      7 #2ea3ff,
      6 #1e7abc; */
  }
  .title {
    font-size: min(20vw, 4rem);
    text-align: center;
    margin: 5rem auto;
    font-family: 'Nabla';
    line-height: 1.1;
    font-variation-settings: 'EDPT' 30;
    font-palette: --a;
    & span {
      animation: depth 1s ease-in-out alternate infinite;
      animation-delay: calc(var(--i) * 0.1s);
    }
    & span:nth-of-type(even) {
      font-palette: --c;
    }
  }

  @keyframes depth {
    0% {
      transform: translatex(0) translatey(0);
    }
    100% {
      font-variation-settings: 'EDPT' 200;
      transform: translatex(0.15em) translatey(0.1em);
    }
  }

  @media (--tablet) {
    .title {
      font-size: min(10vw, 8rem);
    }
  }
</style>
