---
import { getCollection } from 'astro:content';
import BlogPreview from './BlogPreview.astro';
import BlogHeader from './BlogHeader.astro';
import Button from '@components/Button.astro';

const articles = await getCollection('blogPosts');
---

<div class="container">
  <BlogHeader title="Featured Blog Posts" />

  {
    // temporary until we have more blog posts
    articles.length === 1 ? (
      <div class="container">
        <p>No articles found. Coming Soon! 🚧👷</p>
      </div>
    ) : (
      <>
        <div class="articles">
          {articles.map(a => (
            <BlogPreview blogPost={a} />
          ))}
        </div>
        <Button class="load-more-button" color="#fff" href="/blog">
          View All Posts
        </Button>
      </>
    )
  }
</div>

<style>
  .container {
    max-width: var(--max-width);
    margin: 1rem auto 5rem;
    text-align: center;
  }

  .articles {
    display: grid;
    margin: 0 auto 5rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 4rem;
  }

  .load-more-button {
    margin: 0 auto;
    display: inline-block;
  }
</style>
