---
import GoogleAnalytics from '@components/GoogleAnalytics.astro';
import { ViewTransitions } from 'astro:transitions';

export interface Props {
  title: string;
}

const { title } = Astro.props;
import clon from 'src/assets/clon.svg';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href={clon.src} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    {/* https://stackoverflow.com/a/60477207/7033335 */}
    <link
      href="https://fonts.googleapis.com/css2?family=Lily+Script+One&Merriweather&family=Poppins&family=Press+Start+2P&family=Bungee Shade&display=swap"
      rel="preload"
      as="style"
      onload="
      this.onload = null; this.rel = 'stylesheet'
      "
    />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <title>Brandon Pereira's Portfolio - {title}</title>
    <meta
      name="description"
      content="Portfolio for Brandon Pereira, a front-end web developer from Calgary, AB."
    />
    <ViewTransitions />
  </head>
  <body>
    <slot />
    <style is:global>
      :root {
        --font-sansserif: 'Poppins', 'Helvetica Neue', sans-serif;
        --font-serif: 'Merriweather', serif;
        --font-monospace: 'Press Start 2P', monospace;
        --max-width: min(100vw - 36px, 1200px);
        --background-color: #151515;
      }
      html {
        font-family: var(--font-sansserif);
        background-color: var(--background-color);
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }

      body {
        margin: 0;
      }

      a {
        color: #2ea3ff;
      }
    </style>
    <GoogleAnalytics />
  </body>
</html>
