---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather&family=Poppins:ital,wght@0,300;0,400;0,600;1,700&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --font-sansserif: "Poppins", sans-serif;
    --font-serif: "Merriweather", serif;
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
  html {
    font-family: var(--font-sansserif);
    background-color: #151515;
  }

  body {
    margin: 0;
  }
  ::view-transition-image-pair(root) {
    /*= Styles for every instance =*/
    position: absolute;
    inset: 0px;
    contain: layout;
    isolation: isolate;
  }

  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
  }

  :root::view-transition-old(project),
  :root::view-transition-new(project) {
    /* Prevent the default animation,
  so both views remain opacity:1 throughout the transition */
    animation: none;
    /* Use normal blending,
  so the new view sits on top and obscures the old view */
    mix-blend-mode: normal;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }

  :root::view-transition {
    position: fixed;
    inset: 0;
  }

  :root::view-transition-image-pair(banner-img) {
    isolation: none;
  }
</style>

<script>
  import "../scripts/reroute";
</script>
