body {
	cursor: progress;
	background: #3b3b3b;
}
.graph {
	position: absolute;
	top: 50%;
	margin: 0 auto;
	margin-top: -80px;
	display: block;
	box-shadow: 1px 1px rgba(0, 0, 0, .2);
	position: relative;
	border: 10px solid #fff;
	border-left-color: transparent;
	border-top-color: transparent;
	height: 65px;
	width: 100px;
	padding: 5px;
}
.blocks {
	border-radius: 5px;
	box-shadow: 0 1px rgba(0, 0, 0, .5);
	display: block;
	margin: 5px 0;
	height: 20px;
	background: #fff
}
.moving_block {
	border-radius: 5px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
	-webkit-animation: slide .7s infinite linear both;
	position: absolute;
	right: 5px;
	left: 5px;
	background: #fff;
	height: 20px;
}
.blocks.a {
	-webkit-animation: push .7s infinite linear both, color .7s both infinite;
}
@-webkit-keyframes color {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
		background: #fff;
	}
}
@-webkit-keyframes push {
	from {
		margin-top: 0;
	}
	to {
		margin-top: -25px;
	}
}
@-webkit-keyframes slide {
	from {
		opacity: 0;
		bottom: 0px;
		right: 105px;
		left: -105px;
	}
	to {
		opacity: 1;
		bottom: 0px;
		right: 5px;
		left: 5px;
	}
}
.graph span {
	text-align: center;
	color: #fff;
	font: 100 24px "Open Sans", Helvetica Neue, Helvetica, sans-serif;
	display: block;
	position: absolute;
	bottom: -60px;
	left: -100px;
	right: -100px;
}